.image {
  border-radius: 3%;
}

.form-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px
}

.register {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}