*{
    margin: 0;
    padding: 0;
  }

  .body {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: red;
  }

  .headerContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
  }