.card-info-container{
 
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
    text-align: left;
}
.left-avatar{
 width: 25%;
}
.right-info{
   width: 55%;
}
.first-line {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.second-line{
    text-align: left;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.third-line {
    text-align: left;
    display: flex;
    justify-content:space-between;
    padding: 0.5rem;
    flex-direction: column;
}