

.post-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 70%;
  padding: 0 1rem;
  border : 1px solid rgb(92, 92, 92);

  .post-img {
    width: 60%;
    height: 100%;
    object-fit: cover;
  }
}}