.posts-container-profiles{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // padding: 1rem;
    .post-container-uni{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
        width: 20%;
    }

}
.button-container-posts{
    display: flex;
    // flex-direction: row;
    justify-content: space-evenly;
}
.publis{
    width: 100%;
    // text-align: center;
    display: flex;
    justify-content: center;
}
.orginze-buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}