.list-friends-suggestions{

width: 100%;
}
.list-friends-suggestions:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease .2s ease-in-out;
    border-radius: 3rem;

}

@media (max-width: 1470px){

    .relatedFriends{
        display:none;
    }
  }
  