@import url(//fonts.googleapis.com/css?family=Monoton);
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Noto+Sans+Mono:wght@200&family=PT+Sans&family=Roboto+Mono:wght@100;200&family=Roboto:ital,wght@0,100;1,100&family=Teko&family=Tilt+Neon&display=swap');

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-right: 1px solid black;
  font-family: "Tilt Neon";
  font-size: 10px;

  .logo {
    text-align: center;
    width:65%;
    height: 50px;
    user-select: none;
    font: 400 4vh "Monoton";
    cursor: pointer;
  }
}

.container-nav {
  width: 150px;
  height: 300px;

  div {
    display: flex;
    align-items: center;
    padding: 5px;
    width:130px;
    height: 30px;
    transition: all 0.8s;
    border-radius: 10px;
    font-size: 20px;
  }

  div.home:hover{
    cursor: pointer;
    background-color: rgba(205, 205, 205, 0.183);
    border-radius: 10px;
  }

  div.profile:hover{
    cursor: pointer;
    background-color: rgba(205, 205, 205, 0.183);
    border-radius: 10px;
  }

  div.create:hover{
    cursor: pointer;
    background-color: rgba(205, 205, 205, 0.183);
    border-radius: 10px;
  }

  div.logout:hover{
    cursor: pointer;
    background-color: rgba(205, 205, 205, 0.183);
    border-radius: 10px;
  }

  div:hover .iconHome {
    scale: 1.2;
  }

  div:hover .iconProfile {
    scale: 1.2;
  }

  div:hover .iconCreate {
    scale: 1.2;
  }

  div:hover .iconlogout {
    scale: 1.2;
  }

  .iconHome, .iconProfile, .iconCreate, .iconlogout {
    transition: all 0.5s;
  }

}

.home, .profile, .create, .logout {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

@media(max-width: 930px){
  .logo {
    display: none;
  }
}

@media (max-width: 768px) {

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;

    .iconHome, .iconProfile, .iconCreate, .iconlogout {
      margin: auto;
    }
    .divHome {
      display: none;
    }
    .divProfile {
      display: none;
    }
    .divCreate {
      display: none;
    }
    .divLogout {
      display: none;
    }
  }

  .container-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 640px){

  .container-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
  }
}