@import url(//fonts.googleapis.com/css?family=Vibur);

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-right: 1px solid black;

  .logo {
    text-align: center;
    width:65%;
    height: 50px;
    user-select: none;
    margin-bottom: 120px;
  }

  .logo b{
    font: 400 7vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  }
  .logo b span{
    animation: blink linear 2s;
  }
  // .logo b span:nth-of-type(2){
  //   animation: blink linear 2s;
  // }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: rgb(255, 255, 255);
    }
    80% {

      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: rgb(255, 255, 255);
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: rgb(255, 255, 255);
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

.container-nav {
  width: 150px;
  height: 300px;

  div {
    display: flex;
    align-items: center;
    padding: 5px;
    width:130px;
    height: 30px;
    transition: all 0.8s;
    border-radius: 10px;
    font-size: 20px;
  }

  div.home:hover{
    cursor: pointer;
    background-color: rgba(205, 205, 205, 0.183);
    border-radius: 10px;
  }

  div.profile:hover{
    cursor: pointer;
    background-color: rgba(205, 205, 205, 0.183);
    border-radius: 10px;
  }

  div.create:hover{
    cursor: pointer;
    background-color: rgba(205, 205, 205, 0.183);
    border-radius: 10px;
  }

  div:hover .iconHome {
    scale: 1.2;
  }

  div:hover .iconProfile {
    scale: 1.2;
  }

  div:hover .iconCreate {
    scale: 1.2;
  }

  .iconHome, .iconProfile, .iconCreate {
    transition: all 0.5s;
  }

}

.home, .profile, .create{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

@media (max-width: 768px) {

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .iconHome, .iconProfile, .iconCreate {
      margin: auto;
    }
    .divHome {
      display: none;
    }
    .divProfile {
      display: none;
    }
    .divCreate {
      display: none;
    }

    .logo {
      display: none;
    }
  }

  .container-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 640px){

  .container-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
  }
}