.ant-progress-text {
  color: white !important;
}
.row-info-country{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    span{
    width: 40%;
    }

}
