@import url(//fonts.googleapis.com/css?family=Monoton);
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Noto+Sans+Mono:wght@200&family=PT+Sans&family=Roboto+Mono:wght@100;200&family=Roboto:ital,wght@0,100;1,100&family=Teko&family=Tilt+Neon&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: "Tilt Neon";
}


.logo-login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  user-select: none;
  font: 400 6vh "Monoton";
  cursor: pointer;
  margin-bottom: 5%;
  align-items: center;
}

.title-login {
  padding: 5% 0;
  display: flex;
  justify-content: center;
}

.register-content {
  display: flex;
  align-items: center;
  margin-left: 1%;

  .register-button {
    color: black;
    margin: 5px;
  }

  p {
    margin: 5px;
  }
}


.image {
  width: 80%;
  border-radius: 3%;
}

.register-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
}

@media (max-width: 1024px) {
  .logo-login {
    font: 400 5vh "Monoton" !important;
  }
}

@media (max-width: 670px) {

  .login-container {
    height: 50vh;
    margin-left: 0;
  }

  .logo-login {
    font: 400 6vh "Monoton" !important;
    margin: 20px;
    align-items: center;
  }

}