.containerPost{
  display:flex;
  flex-direction: column;
  
}

.userInfo{
  display:flex;
  flex-direction: row;
  gap: 1rem;
  img {
    clip-path: circle();
    width: 7rem;
    height: 5rem;
  }
}

