*{
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.navbar {
  width: 20%;
  height: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
}

.header {
  width:100%;
  height:20%;
}

.content {
  width: 100%;
  height: 80%;
}

@media (max-width: 640px){

  .body {
    display: flex;
    flex-direction: column-reverse;
    height: 92vh;
    width: 100%;
  }

  .navbar {
    border-top: 1px solid black;
    width: 100%;
    height: 10%;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
  }

  .header {
    width:100%;
    height:10%;
  }

  .content {
    width: 100%;
    height: 90%;
  }
}