div {
  word-break: break-all;
  overflow-wrap: break-word;
}

.message {
  text-align: left;
  border-radius: 7px 7px 7px 0;
  padding: 5px;
}

.inc_message {
  text-align: right;
  border-radius: 7px 7px 0 7px;
  padding: 5px;
}

.warning {
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  color: silver;
}

.active {
  background: lightgreen;
}

.username {
 font-style: italic;
 font-size: smaller;
}

